body{
    background-color: white;
}
a{
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: .5rem;
    font-size: 1.5rem;
}
a:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 1rem 1rem 1rem 1rem;
}