{% extends "master.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <h1>Welcome to my art website!</h1>
    <p>
      Drawing has been one of my favorite hobbies since I was 17.
      There you will find characters that are cute and colorful. 
    </p>
    <p>
      I don't want to have the best drawing fundamentals (at the moment)
      I just want to share the joy I get when I draw. 
    </p>
    <p>
      If you smile looking at my drawings,
      or you say "that looks cute" in your mind, then my site's purpose is completed.
    </p>
  </div>
</div>
{% endblock %}
